.add-task-container {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(63, 63, 63, 0.3);
    ;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.add-task {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    color: #F2F6D0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 20;
}

.add-task * {
    margin: 10px;
}

.task-name-inp {
    border: none;
    padding: 6px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: #877158;
    color: #F2F6D0;
}

.task-name-inp::placeholder {
    color: #F2F6D0;
}

.task-inp-done {
    background-color: #877158;
    border: none;
    padding: 6px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #F2F6D0;
    cursor: pointer;
}

.task-duedate{
    border: none;
    padding: 6px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: #877158;
    color: #F2F6D0;
}

.task-inp-cancel-btn {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(8px, -8px);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #877158;
    font-size: 18px;
    font-weight: 900;
    color: #F2F6D0;
}