:root {
    --outline-border: 3px solid white;
}

.nav-bar {
    border-bottom: var(--outline-border);
    box-shadow: 0px 1px 8px 0px #EFDCAB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 15px 30px 15px;
    margin-bottom: 25px;
}

.icon-heading {
    /* border: var(--outline-border); */
    border-radius: 80px;
    box-shadow: 0px 0px 10px 0px #EFDCAB;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #e8ebd3;
    font-size: 25px;
}

.icon-heading * {
    margin: 10px;
}

.projects {
    /* border: var(--outline-border); */
    color: #e8ebd3;
    position: absolute;
    left: 26.5%;
    top: 18%;
    font-size: 25px;
}



.filters {
    /* border: var(--outline-border); */
    display: flex;
    position: absolute;
    display: none;
    left: 26%;
    bottom: 14%;
    width: 30%;
}

.cmn-btn-css {
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #e8ebd3;
    font-size: .99em;
    font-weight: 500;
    width: 100%;
    padding: 6px;
    margin: 6px;
    transition: all .5s ease;
}

.cmn-btn-css:hover {
    box-shadow: 0px 0px 6px 0px wheat;
}

/* 
.clicked-filter-btn {
    background-color: #443627;
    color: white;
    box-shadow: 0px 0px 6px 0px wheat;
} */

.js-filter-btn.active {
    color: #e8ebd3;
    background-color: #443627;
    box-shadow: 0px 0px 2px 0px wheat;
    border: 2px solid #e8ebd3;
}

#todo-icon {
    border: 3px solid black;
    width: 80px;
    border-radius: 50px;
}