body{
    background-color: #443627;
    position: relative;
    height: 100vh;
    z-index: -1;
}

.colors1{

    background-color: #D98324;
    background-color: #EFDCAB;
    background-color: #F2F6D0;
}
.colors2{

    background-color: #0C0C0C;
    background-color: #481E14;
    background-color: #9B3922;
    background-color: #F2613F;
}

/* #light-mode{
    fill: #F2F6D0;
    cursor: pointer;
    transition: all .5s ease;
} */

/* #light-mode:hover{
    fill: #0C0C0C;
    cursor: pointer;
} */