body{
    background-color: #443627;
}

.hello{

    background-color: #D98324;
    background-color: #EFDCAB;
    background-color: #F2F6D0;
}


/* https://colorhunt.co/palette/0c0c0c481e149b3922f2613f */