body{
    background-color: #443627;
    position: relative;
    height: 100vh;
    z-index: -1;
}

.hello{

    background-color: #D98324;
    background-color: #EFDCAB;
    background-color: #F2F6D0;
}
.hello2{

    background-color: #0C0C0C;
    background-color: #481E14;
    background-color: #9B3922;
    background-color: #F2613F;
}

#light-mode{
    fill: #F2F6D0;
    cursor: pointer;
    transition: all .5s ease;
}

#light-mode:hover{
    fill: #0C0C0C;
    cursor: pointer;
}




/* https://colorhunt.co/palette/0c0c0c481e149b3922f2613f */